/* generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cf::after {
    content: "";
    clear: both;
    display: table;
}


/* contenuto */

#container {
    width: 90vw;
    height: 90vh;
    margin: 5vh auto;
    border: 1px solid rgba(0,0,0, .1);
}



/* aside (contatti) */

aside {
    float: left;
    width: 30%;
    height: 100%;
}

.username {
    padding: 10px 0;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username .avatar {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.username .avatar img {
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.username .avatar .text {
    display: flex;
    flex-direction: column;
}

.username .username-icons {
    margin-right: 20px;
    font-size: 22px;
    color: #b1b1b1;
    display: flex;
}

.username .username-icons .fas {
    margin: 0 8px;
}

.notifiche-dt {
    background-color: #8edafc;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.notifiche-dt .white-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notifiche-dt .fa-bell-slash {
    font-size: 27px;
    color: #8edafc;
}

.notifiche-dt .text {
    display: flex;
    flex-direction: column;
}

.notifiche-dt .text .underline {
    text-decoration: underline;
    color: #507485;
}

.search-bar {
    margin: 5px;
    position: relative;
}

.search-bar .fa-search {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0%, -50%);
    color: #b5b9bb;
}

.search-bar .bar {
    width: 100%;
    padding: 10px 0px 10px 60px;
}

.utenti .username {
    border-top: 1px solid #eaeaea;
    background-color: white;
}

.active {
    background-color: #eaeaea !important;
}


aside .avatar {
    width: 100%;
    position: relative;
}

aside .date {
    font-size: 10px;
    position: absolute;
    top: 5px;
    right: 10px;
}

/* main (conversazioni) */
main {
    float: left;
    width: 70%;
    height: 100%;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    position: relative;
}


main .username {
    border-left: 1px solid rgba(0,0,0, .1);
}

.messaggi {
    margin-top: 60px;
}

.sent,
.received {
    width: 300px;
    padding: 17px 15px;
    border-radius: 7px;
    margin: 10px 0;
}

.sent {
    background-color: #d5f9ba;
    float: right;
    margin-right: 130px;
}

.received {
    background-color: white;
    margin-left: 130px;

}


.action-bar {
    background: #f3eeea;
    padding: 13px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#user-text {
    width: 85%;
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
}


.action-bar .far,
.action-bar .fas {
    color: rgba(0,0,0, .7);
    font-size: 25px;
}